#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.table {
  margin: auto;
}

td,
th {
  padding: 8px;
  text-align: left;
  border: 1px solid #333;
}

.table-image {
  height: 100px;
}

.leaflet {
  height: 300px;
  margin: 3%;
  border-radius: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  margin : 3px;
}

.icon:hover {
  cursor: pointer;
  scale: 1.1
}

icon:active {
  padding: 1px;
}